* {
  border: 1px solid tomato;
  background-color: rgba(100, 100, 100, 0.3);
  box-sizing: border-box;
}
.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.App__Container {
  height: 80vh;
  width: 80vw;
  flex-grow: 0;
}

.grow2 {
  flex-grow: 2;
}

.text--white {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
